%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
     debug_info
]}.

{deps, []}.

{relx, [
    {default_release, st_commons, "1.2.0"},
    {release, {st_commons, "1.2.0"}, [st_commons]},

    {dev_mode, true},
    {extended_start_script, false},
    {generate_start_script, false},
    {include_erts, false},
    {include_src, false}
]}.

{dialyzer, [
    {warnings, [underspecs, race_conditions, unmatched_returns, error_handling]},
    {get_warnings, true}
]}.

{cover_enabled, true}.

{profiles, [
    {prod, [
        {erl_opts, [
%%      strong_validation
             warn_unused_import
            ,warn_export_all
            ,warn_export_vars
            ,warn_shadow_vars
            ,warn_obsolete_guard
%%            ,warn_missing_spec
            ,warn_untyped_record
            ,warnings_as_errors
            ,fail_on_warning
        ]}
        ,{relx, [
             {dev_mode, false}
            ,{debug_info, strip}
        ]}
    ]},
    {test, [
        {erl_opts, [
             {d, debug}
        ]}
        ,{eunit_opts, [
             verbose
            ,{skip_deps, true}
        ]}
    ]},
    {ci, [
        {eunit_opts, [
            {report, {eunit_surefire, [{dir, "_build/ci+test"}]}}
        ]}
    ]},
    {dev_console, [
        {eunit_opts, [
             no_tty  %% This turns off the default output, MUST HAVE
            ,{report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
        ]}
        ,{deps, [
            {eunit_formatters, "0.3.1"}
        ]}
    ]}
]}.

