%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{dev_only_deps, [
]}.

%% Set this to true if you will build OTP releases of this project via
%% `make rel` and want to include the rebar_lock_deps_plugin. You can
%% also specify `{branch, Branch}' or `{tag, Tag}' to use a specific
%% build of the plugin.
{use_lock_deps, false }.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, false}.

{cover_enabled, true}.

{erl_opts, [
%%      strong_validation
     warn_unused_import
    ,warn_export_all
    ,warn_export_vars
    ,warnings_as_errors
    ,{d, debug}
    ,debug_info
    ,fail_on_warning
    ,{platform_define, "^R", have_not_parameterized_dict_and_sets_support}
]}.

{eunit_opts, [
    verbose,
    {skip_deps, true},
    {report, {eunit_surefire, [{dir, "."}]}}
]}.
