%% -*- erlang -*-

{erl_opts, [warnings_as_errors, debug_info]}.
{deps, [
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "d5584145e309f2d2045260d20984742bd3065867"}}
]}.
{cover_enabled, true}.
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
